{
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended"
  ],
  "rules": {
      "no-unused-vars": "warn",
      "prefer-const": "warn",
      "quotes": ["warn", "double"],
      "jsx-quotes": ["warn", "prefer-double"],
      "indent": ["warn", "tab"],
      "comma-dangle": ["warn", "always-multiline"],
      "semi": ["warn", "always"]

  }
}